
server:
  port: 9000
spring:
  application:
    name: car-rental
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:6000/car_rental_postgres
    username: postgres
    password: postgres
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        highlight_sql: true
        enable_lazy_load_no_trans: true
  flyway:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:6000/car_rental_postgres
    user: postgres
    password: postgres
logging:
  level:
    org.springframework.transaction.interceptor: TRACE